.page {
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-main);
  font-variation-settings: 'wgth' var(--wght-main-text);
  font-feature-settings: var(--font-feature-settings);
  color: var(--color-main);
  background-color: var(--color-bg);
  line-height: 120%;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: var(--color-bg-header);
  overflow: hidden;
  position: relative;
}

.header__content {
  inline-size: clamp(20.9375rem, 16.0419rem + 20.888vw, 33.875rem);
  margin: 
    clamp(1.125rem, 0.9358rem + 0.8073vw, 1.625rem) 
    0 
    92px
    clamp(4.5rem, -38.1104rem + 49.9097vw, 21.78125rem);
  z-index: 6;
}

.header__logo {
  display: flex;
  inline-size: clamp(13.3125rem, 12.5517rem + 3.2462vw, 15.323125rem);
  block-size: clamp(2rem, 1.9054rem + 0.4036vw, 2.25rem);
  gap: clamp(0.34375rem, 0.3236rem + 0.0858vw, 0.396875rem);
  align-items: center;
  text-decoration: none;
}

.logo-image {
  display: flex;
  inline-size: clamp(4.96875rem, 4.6774rem + 1.2432vw, 5.73875rem);
  gap: 1.73px;
}

.logo-text {
  font-size: clamp(0.9011rem, 0.8483rem + 0.2254vw, 1.04070625rem);
  font-variation-settings: "wght" 700;
  color: var(--color-logo-text);
  line-height: 108%;
  text-transform: uppercase;
  white-space: pre-line;
  transform-origin: center;
}

.header__title {
  display: grid;
  font-family: var(--font-accent), serif;
  font-size: clamp(2.25rem, 1.6824rem + 2.4218vw, 3.75rem);
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin: 
    clamp(2.5rem, 1.9797rem + 2.22vw, 3.875rem)
    0
    24px;
}

.header__title-path:nth-child(3) {
  justify-self: center;
}

.header__title-path:nth-child(4) {
  justify-self: end;
}

.header__text {
  font-size: 18px;
  line-height: 130%;
  text-align: center;
}

.header__menu {
  margin: 
    clamp(2rem, 1.8108rem + 0.8073vw, 2.5rem) 
    0 
}

.header__links-list {
  display: flex;
  gap: 14px;
}

.header__links-list-item {
  list-style: none;
  width: 100%;
}

.header__link {
  display: inline-block;
  width: 100%;
  font-variation-settings: "wght" 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-links-main);
  white-space: pre-line;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--color-links-main);
  border-radius: 66px;
  padding: 12px 40px;
}

.header__link.link-confirm,
.header__link.link-details:hover {
  background-color: var(--color-links-main);
  color: var(--color-links-accent);
}

.header__link.link-confirm:hover {
  border-color: var(--color-circle-overlay-img);
  background-color: var(--color-circle-overlay-img);
  color: var(--color-links-main);
}

.overlay-images {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  left: clamp(-0.1875rem, 14.1869rem + -16.8367vw, 1.875rem);
}

.overlay-images__image {
  position: absolute;
}

.overlay-images .city {
  width: 1623.5px;
  height: 452.5px;
  left: -797px;
  bottom: -21px;
  z-index: 4;
}

.overlay-images .path {
  width: 1603.71px;
  height: 463.82px;
  left: -801px;
  bottom: -21px;
  z-index: 4;
}

.overlay-images__image.circle {
  width: 660px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-circle-overlay-img);
  left: -8px;
  bottom: 83px;
  z-index: 1;
}

.overlay-images__image.text {
  width: 800px;
  aspect-ratio: 1/1;
  left: -78px;
  bottom: 40px;
  mix-blend-mode: overlay;
  z-index: 2;
}

.overlay-images .king {
  width: 103.78px;
  height: 255.89px;
  left: 60px;
  bottom: 168px;
  transform: rotate(-5.99deg);
  z-index: 3;
}

.overlay-images .queen {
  width: 113.16px;
  height: 252px;
  left: 395px;
  bottom: 277px;
  z-index: 3;
  transform: rotate(7.59deg);
}

.overlay-images .horse {
  width: 153.87px;
  height: 243.99px;
  left: 175px;
  bottom: -38px;
  transform: rotate(-10.59deg);
  z-index: 6;
}

.overlay-images .pawn {
  width: 82.61px;
  height: 122.22px;
  left: 557px;
  bottom: 20px;
  z-index: 6;
}

.header__overlay {
  inline-size: 100%;
  block-size: 100%;
  background-image: url('../images/header-bg-img.png');
  background-position: center;
  background-size:contain;
  position: absolute;
  z-index: 5;
  mix-blend-mode: color-burn;
}

.running__line {
  display: flex;
  gap: 12px;
  background-color: var(--color-accent);
  z-index: 6;
}

.running__line-part {
  display: flex;
  gap: 12px;
}

.running__line-animate {
  animation: running__line-animate 20s linear infinite;
}

.running__line-text {
  display: flex;
  font-family: var(--font-accent), serif;
  font-weight: 400;
  font-size: clamp(1rem, 0.8581rem + 0.6054vw, 1.375rem);
  color: var(--color-links-accent);
  line-height: 110%;
  white-space: nowrap;
  text-transform: uppercase;
  gap: 12px;
  align-items: center;
  margin: clamp(0.625rem, 0.4358rem + 0.8073vw, 1.125rem) 0;
}

.running__line-text::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-links-accent);
}

.header__running__line {
  grid-column: 1/3;
  grid-row: 2/3;
}

/******************************************************/

.content {
  margin: 
    clamp(3rem, 2.2668rem + 3.1282vw, 4.9375rem)
    auto 
    clamp(2.4375rem, 0.0488rem + 10.1917vw, 8.75rem);
}

.title {
  font-family: var(--font-accent), serif;
  font-size: var(--font-size-title-content);
  text-transform: uppercase;
}

.arrow-button {
  inline-size: clamp(2.25rem, 2.0608rem + 0.8073vw, 2.75rem);
  aspect-ratio: 1/1;
  background-color: var(--color-main);
  border-radius: 50%;
  background-image: url('/images/arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.arrow-button:hover {
  background-color: var(--color-circle-overlay-img);
}

.arrow-button-disabled {
  background-color: var(--color-bttn-disabled);
}

.arrow-button.arrow-button-right {
  transform: rotate(180deg);
}

.content,
.content .lecture, 
.content .seance,
.content .stages {
  inline-size: var(--content-inline-size);
}

.link-content {
  font-size: var(--font-size-main);
  color: var(--color-interactive-element);
  text-decoration: none;
}

.tournament {
  display: grid;
  gap: clamp(2.125rem, 1.4155rem + 3.0272vw, 4rem);
}

.tournament__text {
  font-family: var(--font-accent), serif;
  font-size: clamp(1.75rem, 1.5608rem + 0.8073vw, 2.25rem);
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}

.lecture__text-end .text-decor, 
.seance__text .text-decor {
  color: var(--color-accent);
  font-weight: 700;
}

.lecture {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 65px;
}

.lecture__container-image {
  inline-size: clamp(20.9375rem, 19.5421rem + 5.9536vw, 24.625rem);
  aspect-ratio: 1/0.64;
  border-radius: 60%;
  position: relative;
}

.lecture__overlay,
.lecture__image {
  inline-size: 100%;
  aspect-ratio: 1/0.64;
  border-radius: 60%;
  position: absolute;
}

.lecture__overlay {
  background-image: url("../images/background-invitation-overlay.png");
  mix-blend-mode: color-burn;
  z-index: 1;
}

.lecture__image {
  object-fit: cover;
  object-position: center;
}

.seance {
  display: grid;
  grid-template-columns: auto clamp(21rem, 12.2967rem + 37.1342vw, 44rem);
  grid-template-rows: repeat(3, auto);
}

.seance__container-image {
  grid-column: 1/2;
  grid-row: 1/4;
  position: relative;
}

.seance__overlay,
.seance__image {
  position: absolute;
  aspect-ratio: 1/1.09;
}

.seance__overlay {
  inline-size: 97%;
  background-image: url("../images/background-poster-overlay.png");
  background-position: center;
  background-size: cover;
  mix-blend-mode: color-burn;
  transform: translate3d(-22px,-27px,0);
  z-index: 1;
}

.seance__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  transform: translate3d(-23px,-28px,0);
}

.seance__text {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-block-end: 46px;
}

.seance__table {
  grid-column: 2/3;
  grid-row: 2/3
}

.table__row {
  display: grid;
  grid-template-columns: 306px calc(100% - 306px);
  border-bottom: 2px solid var(--color-table);
}

.table__row:last-child {
  border-bottom: none;
}

.table__text {
  font-size: 20px;
  line-height: 112%;
  opacity: 0.7;
  padding: 16px 0;
}

.table__text .strikethrough-text { 
  display: inline-block;
  text-decoration-line: line-through;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
  margin-inline-end: 7px;
}

.table__text:first-child {
  border-right: 2px solid var(--color-table);
}

.table__text:last-child {
  font-variation-settings: "wght" 600;
  opacity: 1;
  margin-left: 16px;
}

.seance__link-content {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-block-start: clamp(1.375rem, 1.1148rem + 1.11vw, 2.0625rem);
}

.stages {
  display: grid;
  margin-block-start: clamp(7.625rem, 5.7803rem + 7.8708vw, 12.5rem);
  margin-block-end: clamp(11.3125rem, 10.8631rem + 1.9173vw, 12.5rem);
  gap: clamp(3.375rem, 11.5593rem + -9.5863vw, 9.3125rem);
  position: relative;
}

.stages__details {
  inline-size: calc(100%*2/3);
}

.stages__title {
  display: inline;
  font-weight: 400;
  line-height: 120%;
}

.stages__link-content {
  display: inline-block;
  inline-size: 280px;
  position: relative;
  left: 13px;
}

.stages__carousel {
  overflow: hidden;
}

.stages__list {
  display: grid;
  grid-template-columns: repeat(3, clamp(20.9375rem, -0.9442rem + 29.9492vw, 24.625rem));
  gap: 20px;
}

.stages__list-item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.stages__list-item:nth-child(4) {
  padding-block-end: 44px;
}

.stages__list-item:nth-child(5) {
  padding-inline-end: 22px;
}

.stages__list-item:nth-child(6) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.stages__list-item:nth-child(7) {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-column: 2/4;
  grid-row: 3/4;
  position: relative;
}

.stages__list-item:nth-of-type(7) > .stage-card__describtion {
  inline-size: 440px;
}

.stage-card {
  display: grid;
  grid-auto-flow: column;
  background-image: url('../images/background-card-stage.png');
  background-position: center;
  background-size: contain;
  padding: 20px;
  gap: 16px;
}

.stage-card__number {
  display: flex;
  font-variation-settings: "wght" 600;
  inline-size: 36px;
  block-size: 36px;
  border-radius: 50%;
  background-color: var(--color-links-accent);
  justify-content: center;
  align-items: center;
}

.stage-card__describtion {
  font-variation-settings: "wght" 500;
}

.stages__pogination {
  display: none;
}

.dots-navigation {
  display: flex;
  gap: 6px
}

.dot {
  width: 10px;
  aspect-ratio: 1/1;
  background-color: var(--color-dots-pogination);
  border-radius: 50%;
}

.dot.active {
  background-color: var(--color-main);
}

.image-airplane {
  display: block;
  width: clamp(19.9225rem, 18.5536rem + 5.8406vw, 23.54rem); 
  height: clamp(7.4225rem, 6.9102rem + 2.1857vw, 8.77625rem);
  position: absolute;
  top: 68%;
  left: 73%;
  transform: rotate(-15.31deg);
}

/********************************Медиа-запрсы**************************/

@media (width < 1366px) {
  .header__content {
    inline-size: clamp(20.9375rem, 16.0419rem + 20.888vw, 33.875rem);
    margin-left: clamp(1.25rem, -18.1505rem + 26.5306vw, 4.5rem);
    z-index: 6;
  }

  .overlay-images {
    left: 0px;
  }

  .overlay-images .city {
    width: clamp(55.345625rem, 37.8924rem + 74.4672vw, 101.46875rem);
    height: clamp(15.425625rem, 10.561rem + 20.7558vw, 28.28125rem);
    left: clamp(-49.8125rem, -36.0855rem + -16.0902vw, -43.125rem);
  }

  .overlay-images .path {
    width: clamp(54.670625rem, 37.43rem + 73.56vw, 100.231875rem);
    height: clamp(15.811875rem, 10.8257rem + 21.2745vw, 28.98875rem);
    left: clamp(-50.0625rem, -36.2072rem + -16.2406vw, -43.3125rem);
  }
  
  .overlay-images__image.circle {
    width: clamp(18.591875rem, 10.0179rem + 36.5822vw, 41.25rem);
    left: clamp(-10rem, -20rem + 22.8571vw, -0.5rem);
    bottom: clamp(-1.875rem, -44.0338rem + 57.6531vw, 5.1875rem);
  }

  .overlay-images__image.text {
    width: clamp(21.875rem, 11.2323rem + 45.4087vw, 50rem);
    left: clamp(-12.5rem, -20.5263rem + 18.3459vw, -4.875rem);
    bottom: clamp(-6.875rem, -62.838rem + 76.5306vw, 2.5rem);
  }

  .overlay-images .king {
    width: clamp(2.965rem, 1.6325rem + 5.6852vw, 6.48625rem);
    height: clamp(7.31125rem, 4.026rem + 14.0172vw, 15.993125rem);
    left: clamp(-6.5625rem, -17.4178rem + 24.812vw, 3.75rem);
    bottom: clamp(8.125rem, 5.625rem + 5.7143vw, 10.5rem);
  }

  .overlay-images .queen {
    width: clamp(2.93625rem, 1.3711rem + 6.6781vw, 7.0725rem);
    height: clamp(6.55rem, 3.0583rem + 14.8981vw, 15.7775rem);
    left: clamp(7.1875rem, -11.2336rem + 42.1053vw, 24.6875rem);
    bottom: clamp(12.8125rem, 8.0757rem + 10.8271vw, 17.3125rem);
    transform: rotate(7.59deg);
  }

  .overlay-images .horse {
    width: clamp(4.794375rem, 2.9695rem + 7.7861vw, 9.616875rem);
    height: clamp(7.601875rem, 4.708rem + 12.3471vw, 15.249375rem);
    left: clamp(0rem, -11.5132rem + 26.3158vw, 10.9375rem);
    transform: rotate(-10.59deg);
  }

  .overlay-images .pawn {
    display: none;
  }

  .stages__list-item:nth-child(7) {
    grid-template-columns: auto;
  }

  .stages__list-item:nth-of-type(7) > .stage-card__describtion {
    inline-size: 100%;
  }

  .image-airplane {
    top: 2%;
    left: 63%;
  }  
}

@media (width < 1170px) {
  .header__content {
    width: clamp(29.461875rem, 24.8294rem + 10.5886vw, 33.869375rem);
    margin-bottom: clamp(20rem, 10.6915rem + 21.2766vw, 26.25rem);
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
  }

  .overlay-images__image.circle {
    left: clamp(-10rem, -20rem + 22.8571vw, -0.5rem);
    bottom: clamp(-1.875rem, 2.7926rem + -6.383vw, 0rem);
  }

  .overlay-images__image.text {
    left: clamp(-12.5rem, -20.5263rem + 18.3459vw, -4.875rem);
    bottom: clamp(-10rem, -14.6543rem + 10.6383vw, -6.875rem);
  }

  .header__link.link-details {
    border-color: var(--color-links-accent);
    background-color: var(--color-links-accent);
    opacity: 0.9;
  }

  .header__running__line {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
  }

  .header__overlay-images {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-items: center;
    bottom: -10px;
    justify-self: center;
  }

  .lecture {
    gap: 0px;
  }

  .lecture__container-image {
    inline-size: clamp(16.875rem, 6.4586rem + 23.8429vw, 23.89375rem);
  }
  
  .seance {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .seance__container-image {
    display: grid;
    inline-size: 90%;
    aspect-ratio: 1/1.09;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }
  
  .seance__overlay,
  .seance__image {
    transform: translate3d(0px,0px,0);
    justify-self: center;
  }

  .table__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .seance__text {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .seance__table {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .seance__link-content {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .stages__details {
    inline-size: 70%;
  }

  .stages__title {
    line-height: 110%;
  }
  
  .stages__link-content {
    left: 0;
    margin-block-start: 12px;
  }
  
  .stages__list {
    grid-template-columns:  repeat(2, clamp(18.9375rem, -0.6054rem + 44.6695vw, 32.03125rem));
  }
  
  .stages__list-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .stages__list-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .stages__list-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .stages__list-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .stages__list-item:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .stages__list-item:nth-child(6) {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .stages__list-item:nth-child(7) {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .stages__link-content {
    display: block;
  }

  .image-airplane {
    top: clamp(1.5625rem, 18.6769rem + -23.4043vw, 8.4375rem);
    left: clamp(15.625rem, -21.609rem + 85.1064vw, 40.625rem);
    transform: rotate(-18.73deg);
  }  
}

@media (width < 700px) {
  .header__content {
    width: clamp(20.9375rem, 11.0713rem + 42.0957vw, 29.461875rem);
    margin: 
      18px
      20px
      clamp(16.3125rem, 7.3611rem + 38.1926vw, 24.0465rem);
  }

  .header__title-path {
    position: relative;
  }

  .header__title-path:nth-child(2) {
    inset-inline-start: 2px;
    inset-block-start: 2px;
  }

  .header__title-path:nth-child(3) {
    inset-inline-start: 4px;
    inset-block-start: 2px;
  }
  
  .header__title-path:nth-child(4) {
    inset-block-start: 2px;
  }

  .header__text {
    text-align: start;
  }

  .header__links-list {
    flex-direction: column;
    gap: 11px; 
  }

  .header__link {
    white-space: normal;
  }

  .overlay-images .city {
    left: clamp(-43.0625rem, -29.5787rem + -30.8642vw, -36.8125rem);
    bottom: 0;
  }

  .overlay-images .path {
    left: clamp(-43.3125rem, -29.4242rem + -31.7901vw, -36.875rem);
    bottom: 0;
  }

  .overlay-images__image.circle {
    left: -157px;
    bottom: 77px;
  }

  .overlay-images__image.text {
    left: clamp(-12.3125rem, -10.5596rem + -4.0123vw, -11.5rem);
    bottom: clamp(-8.4375rem, -12.3438rem + 16.6667vw, -5.0625rem);
  }  

  .overlay-images .king {
    left: -119px;
    bottom: 122px;
  }
  
  .overlay-images .queen {
    left: clamp(3rem, -2.2083rem + 22.2222vw, 7.5rem);
    bottom: clamp(11.0625rem, 7.952rem + 13.2716vw, 13.75rem);
    transform: rotate(15deg);
  }

  .overlay-images .horse {
    left: -32px;
    bottom: -4px; 
  }

  .lecture {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 24px;
  }

  .lecture__text {
    display: grid;
    gap: calc(clamp(13.285rem, -0.2053rem + 57.5586vw, 24.940625rem) + 48px);
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .lecture__container-image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .seance  {
    grid-template-columns: 1fr;
  }

  .seance__container-image {
    grid-column: 1/2;
    grid-row: 1/2;
    position: static;
  }
  
  .seance__text {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-block-start: 99px;
    margin-block-end: 29px;
  }
  
  .seance__table {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .seance__link {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .table {
    display: grid;
  }

  .table__row {
    display: inline-block;
    padding: 16px 0px;
  }
  
  .table__row:last-child {
    border-bottom: none;
  }
  
  .table__text {
    display: inline-block;
    line-height: 117%;
    padding: 0;
  }
    
  .table__text:first-child {
    border-right: none;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  
  .table__text:last-child {
    margin-left: 0px;
  }

  .table__row:nth-child(4) .table__text:first-child {
    margin-right: 7px;
    margin-bottom: 0px;
  }

  .table__row:last-child .table__text:first-child,
  .table__row:last-child .table__text:last-child {
    position: relative;
    top: -3px;
  }

  .stages__details {
    inline-size: 100%;
  }

  .stages__link-content {
    inline-size: 100%;
  }

  .stages__list {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0;
  }
  
  .stages__list-item {
    inline-size: clamp(20.9375rem, 0.024rem + 89.2308vw, 39.0625rem);
  }
  
  .stages__list-item:nth-child(1) {
    padding-block-start: 62px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .stages__list-item:nth-child(2) {
    padding-block-start: 10px;
    padding-block-end: 36px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .stages__list-item:nth-child(3) {
    padding-block-start: 62px;
    grid-column: 2/3;
    grid-row: 1/3;
  }
  
  .stages__list-item:nth-child(4) {
    padding-block-start: 62px;
    padding-block-end: 0;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .stages__list-item:nth-child(5) {
    margin-block-start: -55px;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  
  .stages__list-item:nth-child(6) {
    padding-block-start: 62px;
    grid-column: 4/5;
    grid-row: 1/3;
    padding-inline-end: 21px;
  }

  .stages__list-item:nth-child(7) {
    padding-block-start: 62px;
    grid-column: 5/6;
    grid-row: 1/3;
    inset-inline-start: 0;
  }

  .stages__list-item:nth-child(1) .number-item {
    top: 65px;
  }
  
  .stages__list-item:nth-child(2) .number-item {
    top: 13px;
  }
  
  .stages__list-item:nth-child(3) .number-item {
    top: 67px;
  }
  
  .stages__list-item:nth-child(4) .number-item {
    top: 67px;
  }
  
  .stages__list-item:nth-child(5) .number-item {
    top: 25px;
  }
  
  .stages__list-item:nth-child(6) .number-item {
    top: 67px;
  }
  
  .stages__list-item:nth-child(7) .number-item {
    top: 67px;
  }

  .image-airplane {
    top: clamp(11.5625rem, 17.3605rem + -13.2716vw, 14.25rem);
    left: clamp(1.125rem, -17.6829rem + 80.2469vw, 17.375rem);
  }

  .stages__pogination {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-block-start: 28px;
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .overlay-images__image.text {
    animation: sun 10s linear infinite;
  }  
  .image-airplane {
    animation: airplane 10s linear  infinite;
  }  
}

/***********************************************************/ 
.overlay-images__image.circle {
  animation: sun 150s linear infinite;
}  

.overlay-images__image.text {
  animation: sun 10s linear infinite;
} 