:root {
  --font-main: 'Golos-Text';
  --font-accent: 'Merriweather';
  --font-size-main: 20px;
  --color-main: #313131;
  --color-links-main: #1f1f1f;
  --color-links-accent: #fff;
  --color-accent: #f54932;
  --color-logo-text: #595653;
  --color-interactive-element: #3057a2;
  --color-bg-header: #e9ded4;
  --color-bg-card-member: #424241;
  --color-circle-overlay-img: #fbce51;
  --color-table: #d0d0d0;
  --wght-main-text: 400;
  --font-feature-settings: 'pnum' on, 'lnum' on;
  --content-block-size: clamp(1222px, 27.5vw, 336px);
}